@model List<Student>

@using DLA_Thesis.Data.Model.Interface
@inject ISectionRepository SectionRepository

@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}



<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div style="padding:1%;" class="modal-content">


            <form id="enrollment-form" enctype="multipart/form-data">

                <div class="row features_row">
                    <div class="col-lg-12 feature_col">
                        <label> LRN </label>
                        <input id="lrn" readonly class="form-control" name="LRN" type="text" />

                    </div>

                </div>

                <div class="row features_row">

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> First Name </label>
                        <input name="FirstName" class="form-control" type="text" />    <small id="fname"></small>
                    </div>
                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Middle Name </label>
                        <input name="MiddleName" class="form-control" type="text" />     <small id="mname"></small>
                    </div>
                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Last Name </label>
                        <input name="LastName" class="form-control" type="text" />     <small id="lname"></small>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Name Extension </label>
                        <input name="NameExtension" class="form-control" type="text" />     <small id="nename"></small>
                    </div>

                </div>

                <div class="row features_row">

                    <!-- Features Item -->
                    <div class="col-lg-6 feature_col">
                        <label> Street Address </label>
                        <input name="Address" class="form-control" type="text" />  <small id="address"></small>
                    </div>
                    <!-- Features Item -->
                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Barangay </label>
                        <input name="Barangay" class="form-control" type="text" />  <small id="barangay"></small>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> City/Municipality </label>
                        <input name="City" class="form-control" type="text" />  <small id="city"></small>
                    </div>

                </div>


                <div class="row features_row">


                    <div class="col-lg-3 feature_col">
                        <label> Phone Number </label>
                        <input name="Phonenumber" class="form-control" type="text" /> <small id="cpnumber"></small>
                    </div>
                    <div class="col-lg-6 feature_col">
                        <label> Email </label>
                        <input readonly name="EmailAddress" class="form-control" type="text" /> <small id="email"></small>
                    </div>

                    <div class="col-lg-3  feature_col">
                        <label> Grade This school year </label>
                        <input readonly name="CurrentGrade" class="form-control" type="text" />
                    </div>



                    <!-- Features Item -->


                </div>




                <br />
                <h3>Parent's Detail</h3>

                <div class="row features_row">

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Father's First Name </label>
                        <input name="FatherFirstName" class="form-control" type="text" /> <small id="fatherfname"></small>
                    </div>
                    <!-- Features Item -->
                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Father's Last Name  </label>
                        <input name="FatherLastName" class="form-control" type="text" /> <small id="fatherlname"></small>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Father's Occupation  </label>
                        <input name="FatherOccupation" class="form-control" type="text" /> <small id="fatheroccupation"></small>
                    </div>

                    <div class="col-lg-3 feature_col">
                        <label> Father's Phone Number  </label>
                        <input name="FatherNumber" class="form-control" type="text" /> <small id="fathercpnumber"></small>
                    </div>

                </div>



                <div class="row features_row">

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Mother's First Name </label>
                        <input name="MotherFirstName" class="form-control" type="text" /> <small id="motherfname"></small>
                    </div>
                    <!-- Features Item -->
                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Mother's Last Name  </label>
                        <input name="MotherLastName" class="form-control" type="text" /> <small id="motherlname"></small>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Mother's Occupation  </label>
                        <input name="MotherOccupation" class="form-control" type="text" /> <small id="motheroccupation"></small>
                    </div>

                    <div class="col-lg-3 feature_col">
                        <label> Mother's Phone Number  </label>
                        <input name="MotherNumber" class="form-control" type="text" /> <small id="mothercpnumber"></small>
                    </div>

                </div>


                <div class="row features_row">

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Guardian First Name </label>
                        <input name="GuardianFirstName" class="form-control" type="text" /> <small id="guardianfname"></small>
                    </div>
                    <!-- Features Item -->
                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Guardian Last Name  </label>
                        <input name="GuardianLastName" class="form-control" type="text" /> <small id="guardianlname"></small>
                    </div>

                    <!-- Features Item -->
                    <div class="col-lg-3 feature_col">
                        <label> Guardian's Occupation  </label>
                        <input name="GuardianNumber" class="form-control" type="text" /> <small id="guardianoccupation"></small>
                    </div>

                    <div class="col-lg-3 feature_col">
                        <label> Guardian's Phone Number  </label>
                        <input name="GuardianOccupation" class="form-control" type="text" /> <small id="guardiancpnumber"></small>
                    </div>

                </div>



                <br />


                <div id="success" class="success"></div>

                <br />
                <input class="btn btn-primary" type="submit" value="Update" />
            </form>


        </div>
    </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="studentRegistration" enctype="multipart/form-data">
                <div class="modal-header">

                    <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>LRN</label>
                        <input id="lrn" type="text" class="form-control" />
                        <small id="lrn_v" style="color:red;"></small>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input id="password" type="text" class="form-control" />
                        <small id="password_v" style="color:red;"></small>
                    </div>


                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input id="rpassword" type="text" class="form-control" />
                        <small id="rpassword_v" style="color:red;"></small>
                    </div>

                    <div class="form-group">
                        <label>First Name</label>
                        <input id="fname" type="text" class="form-control" />
                        <small id="fname_v" style="color:red;"></small>
                    </div>

                    <div class="form-group">
                        <label>Middle Name</label>
                        <input id="mname" type="text" class="form-control" />
                        <small id="mname_v" style="color:red;"></small>
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="lname" type="text" class="form-control" />
                        <small id="lname_v" style="color:red;"></small>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input id="address" type="text" class="form-control" />
                        <small id="address_v" style="color:red;"></small>
                    </div>

                    <div class="form-group">
                        <label>Birthdate</label>
                        <input id="bdate" type="date" class="form-control" />
                        <small id="bdate_v" style="color:red;"></small>
                    </div>

                    <div class="form-group">
                        <label>Grade</label>
                        <select class="form-control" id="grade">
                            <option> </option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                    <label>Section</label>
                    <div id="section" class="form-group">



                    </div>

                    <div class="form-group">
                        <label>Gender</label>
                        <br />
                        <input type="radio" id="genderMale" value="Male" />
                        <label>Male</label>
                        <input type="radio" id="genderFemale" value="Female" />
                        <label>Female</label>
                        <small style="color:red;"></small>
                    </div>

                    <label>Student Image</label>
                    <input class="form-control" id="image" type="file" />
                    <small id="image_v" style="color:red;"></small>
                    <div class="form-group">



                    </div>

                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <input id="register_student" type="submit" class="btn btn-danger btn-simple" />
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<button class="btn btn-neutral" data-toggle="modal" data-target="#myModal">
    Add Student
</button>




<div class="modal fade" id="addSection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add-section-form" enctype="multipart/form-data">
                <div class="modal-header">

                    <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="lrn-section" />
                    <label>Section</label>
                    <div id="section-list" class="form-group">

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="left-side">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                        <input id="register_student" type="submit" value="Update" class="btn btn-danger btn-simple" />
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<style>

    .buttons-print {
        border: none !important;
        background-color: #51cbce !important;
    }

    .buttons-excel {
        border: none !important;
        background-color: #51cbce !important;
    }

    .buttons-pdf {
        border: none !important;
        background-color: #51cbce !important;
    }
</style>

<div style="width: 100%; " class="content">
    <div class="row">
        <div class="col-md-12">
            <div style="padding:2%;" class="card">
                <table class="table table-striped table-bordered" style=" width:100%;" id="userList">
                    <thead>
                        <tr>
                            <th style="color:#51cbce;">LRN</th>
                            <th style="color:#51cbce;">Full Name</th>
                            <th style="color:#51cbce;">Grade</th>
                            <th style="color:#51cbce;">Status</th>
                            <th style="color:#51cbce;"></th>
                            <th style="color:#51cbce;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var m in Model)
                            {
                                <tr>
                                    <td>@m.LRN</td>
                                    <td>@m.FirstName @m.MiddleName @m.LastName</td>
                                    <td>@m.CurrentGrade <a asp-action="Levelup" asp-controller="User" asp-route-id="@m.StudentID" onclick="return confirm('are you sure you want to level up the student ?')" class="btn btn-primary"> Level-up </a> </td>
                                   <td>@{
                                       if(m.Status == null)
                                       {
                                           <p>Active</p>
                                       }else if(m.Status == "Dropped")
                                       {
                                           <p>Dropped out</p>
                                       }
                                   }</td>
                                    <td>
                                        @{

                                            if (m.SectionID == 0)
                                            {
                                                <button onclick="AddNewSection(@m.LRN)" class="btn btn-neutral" data-toggle="modal" data-target="#addSection">
                                                    Add Section
                                                </button>
                                            }
                                        }
                                    </td>
                                    <td>

                                        <button onclick="GetUpdateStudent(@m.LRN)" class="btn btn-neutral" data-toggle="modal" data-target="#updateModal">
                                            View / Update
                                        </button>

                                        <a onclick="return confirm('are you sure you want to drop this student?')" asp-action="DropOut" asp-controller="User" asp-route-id="@m.StudentID" class="btn btn-neutral" >
                                            Drop
                                        </a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function GetUpdateStudent(lrn) {
    var username = lrn;
    $.ajax({

        url: '/Student/GetStudent',
        type: 'get',
        data: { username: username },
        success: function (e) {

            $('#lrn').val(e.lrn);
            $('input[name="FirstName"]').val(e.firstName);
            $('input[name="MiddleName"]').val(e.middleName);
            $('input[name="LastName"]').val(e.lastName);
            $('input[name="NameExtension"]').val(e.nameExtension);
            $('input[name="Address"]').val(e.address);
            $('input[name="Barangay"]').val(e.barangay);
            $('input[name="City"]').val(e.city);
            $('input[name="Phonenumber"]').val(e.phonenumber);
            $('input[name="EmailAddress"]').val(e.emailAddress);


            $('input[name="FatherFirstName"]').val(e.fatherFirstName);
            $('input[name="FatherLastName"]').val(e.fatherLastName);
            $('input[name="FatherOccupation"]').val(e.fatherOccupation);
            $('input[name="FatherNumber"]').val(e.fatherNumber);

            $('input[name="MotherFirstName"]').val(e.motherFirstName);
            $('input[name="MotherLastName"]').val(e.motherLastName);
            $('input[name="MotherOccupation"]').val(e.motherOccupation);
            $('input[name="MotherNumber"]').val(e.motherNumber);

            $('input[name="GuardianFirstName"]').val(e.guardianFirstName);
            $('input[name="GuardianLastName"]').val(e.guardianLastName);
            $('input[name="GuardianNumber"]').val(e.guardianNumber);
            $('input[name="GuardianOccupation"]').val(e.guardianOccupation);
            $('input[name="Grade"]').val(e.grade);

        }

    });
        }
</script>


<script>

    document.getElementById('add-section-form').onsubmit = function () {


        var form = new FormData();
        var section = $('#student-section').val();
        var id = $('#lrn-section').val();

        form.append("SectionID", section);
        form.append("LRN", id);

        var XHTML = new XMLHttpRequest();
        XHTML.open("POST", "/User/AddSection");
        XHTML.send(form);
        xhr.onreadystatechange = function () {
            if (XHTML.readyState == 4 && XHTML.status == 200) {
             
                if (XHTML.responseText == "") {
                    alert("Updated");
                    window.open("../../User/Index", "_self");
                }
            }
        }
        return false;
    }



    function AddNewSection(id) {
        var t = "";
        $('#lrn-section').val(id);
        $('#section-list').html('');
        $.ajax({
            url: '../User/GetSectionInUser',
            type: 'get',
            data: { id: id },
            success: function (e) {

                t += '<select class="form-control" id="student-section" >';
                for (var key in Object.keys(e)) {

                    t += '<option value=' + e[key].sectionID + '>' + e[key].sectionNumber + ' - ' + e[key].sectionName + '</option>';

                }

                t += '</select>';
                $('#section-list').append(t);
            }
        });
        return false;
    }




    $("#grade").change(function () {


        var selectSection = "";
        $('#section').html("");
        $.ajax({

            url: '/User/GetSection',
            type: 'get',
            data: { grade: $(this).val() },
            success: function (e) {

                selectSection += '<select id="section-list" class="form-control" >';
                for (var key of Object.keys(e)) {
                    selectSection += '<option value="' + e[key].sectionID + '">' + e[key].sectionNumber + ' - ' + e[key].sectionName + ' </option>';

                }

                selectSection += '</select>';

                $('#section').append(selectSection);

            }

        });

    });


    $('#studentnav').addClass('active');


    document.getElementById('studentRegistration').onsubmit = function () {



        var student = new FormData();

        var gender = "";
        if ($('#genderMale').is(':checked')) {
            gender = "male";
        } else {
            gender = "female";
        }

        var fileInput = document.getElementById('image');
        for (i = 0; i < fileInput.files.length; i++) {
            student.append("Image", fileInput.files[i]);
        }

        var lrn = $('#lrn').val();
        var fname = $('#fname').val();
        var mname = $('#mname').val();
        var password = $('#password').val();
        var rpassword = $('#rpassword').val();
        var lname = $('#lname').val();
        var address = $('#address').val();
        var bdate = $('#bdate').val();
        var grade = $('#grade').val();
        var sectionID = $('#section-list').val();

        if (lrn == "" || fname == "" || mname == "" || lname == "" || address == "" || bdate == "" || grade == "" || password == "" || rpassword == "") {
            alert("Please complete the fields");
            return false;
        }

        if ($('#grade').val() == "") {
            alert("nono");
            return false;
        }
        student.append("LRN", lrn);
        student.append("FirstName", fname);
        student.append("Password", password);
        student.append("ConfirmPassword", rpassword);
        student.append("MiddleName", mname);
        student.append("LastName", lname);
        student.append("Address", address);
        student.append("BirthDate", bdate);
        student.append("CurrentGrade", grade);
        student.append("Gender", gender);
        student.append("SectionID", sectionID);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/User/CreateStudent');
        xhr.send(student);

        xhr.onreadystatechange = function () {


            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "LRN_exist") {
                    alert("LRN Already exist");
                    return false;
                }

                if (xhr.responseText == "") {
                    alert("student added");
                    window.open("../../User/Index", "_self");
                }
            }
        }

        return false;

    }

</script>



<script>

      document.getElementById('enrollment-form').onsubmit = function () {


                        var form = $(this);


                        $.ajax({
                            type: "POST",
                            processData: false,
                            contentType: false,
                            url: '/Student/UpdateAccount',
                            data: new FormData(this),
                            success: function (data) {



                                if (data.split(',').includes("lrn_error")) {
                                    $('#lrn').html("LRN should be 12 numerical character");
                                } else if (data.split(',').includes("lrn_number_only")) {
                                    $('#lrn').html("Number only");
                                } else if (data.split(',').includes("lrn_exist")) {
                                    $('#lrn').html("LRN already existed");
                                } else {
                                    $('#lrn').html("");
                                }



                                if (data.split(',').includes("fname")) {
                                    $('#fname').html("First name is required");
                                } else {
                                    $('#fname').html("");
                                }

                                if (data.split(',').includes("mname")) {
                                    $('#mname').html("Middle name is required");
                                } else {
                                    $('#mname').html("");
                                }

                                if (data.split(',').includes("lname")) {
                                    $('#lname').html("Last name is required");
                                } else {
                                    $('#lname').html("");
                                }



                                if (data.split(',').includes("address")) {
                                    $('#address').html("Address is required");
                                } else {
                                    $('#address').html("");
                                }

                                if (data.split(',').includes("barangay")) {
                                    $('#barangay').html("Barangay is required");
                                } else {
                                    $('#barangay').html("");
                                }

                                if (data.split(',').includes("city")) {
                                    $('#city').html("City is required");
                                } else {
                                    $('#city').html("");
                                }


                                if (data.split(',').includes("cpnumber")) {
                                    $('#cpnumber').html("Cp number is required");
                                } else {
                                    $('#cpnumber').html("");
                                }




                                if (data.split(',').includes("fatherfname")) {
                                    $('#fatherfname').html("Father's first name is required");
                                } else {
                                    $('#fatherfname').html("");
                                }


                                if (data.split(',').includes("fatherlname")) {
                                    $('#fatherlname').html("Father's last name is required");
                                } else {
                                    $('#fatherlname').html("");
                                }







                                if (data.split(',').includes("motherfname")) {
                                    $('#motherfname').html("Mother's first name is required");
                                } else {
                                    $('#motherfname').html("");
                                }


                                if (data.split(',').includes("motherlname")) {
                                    $('#motherlname').html("Mother's last name is required");
                                } else {
                                    $('#motherlname').html("");
                                }


                                if (data.split(',').includes("motheroccupation")) {
                                    $('#motheroccupation').html("");
                                } else {
                                    $('#motheroccupation').html("");
                                }


                                if (data.split(',').includes("mothercpnumber")) {
                                    $('#mothercpnumber').html("");
                                } else {
                                    $('#mothercpnumber').html("");
                                }



                                if (data.split(',').includes("guardianfname")) {
                                    $('#guardianfname').html("");
                                } else {
                                    $('#guardianfname').html("");
                                }




                                if (data.split(',').includes("guardianlname")) {
                                    $('#guardianlname').html("");
                                } else {
                                    $('#guardianlname').html("");
                                }



                                if (data.split(',').includes("guardianoccupation")) {
                                    $('#guardianoccupation').html("");
                                } else {
                                    $('#guardianoccupation').html("");
                                }




                                if (data.split(',').includes("guardiancpnumber")) {
                                    $('#guardiancpnumber').html("");
                                } else {
                                    $('#guardiancpnumber').html("");
                                }


                                if (data.split(',').includes("bc")) {
                                    $('#bc').html("");
                                } else {
                                    $('#bc').html("");
                                }

                                if (data.split(',').includes("f137")) {
                                    $('#f137').html("");
                                } else {
                                    $('#f137').html("");
                                }

                                if (data.split(',').includes("f138")) {
                                    $('#f138').html("");
                                } else {
                                    $('#f138').html("");
                                }

                                if (data.split(',').includes("goodmoral")) {
                                    $('#goodmoral').html("");
                                } else {
                                    $('#goodmoral').html("");
                                }


                                if (data.split(',').includes("image")) {
                                    $('#image').html("");
                                } else {
                                    $('#image').html("");
                                }


                                if (data.split(',').includes("email_exist")) {
                                    $('#email').html("Email already exist");
                                }
                                else if (data.split(',').includes("email")) {
                                    $('#email').html("Email is required");
                                } else if (data.split(',').includes("invalid_email")) {
                                    $('#email').html("This is not a valid email");
                                } else {
                                    $('#email').html("");
                                }

                                if (data == "success") {
                                    $('#success').html("  <div class='alert alert-success'>Successfully Updated</div>");
                                }


                                document.getElementById("container").scrollIntoView();

                            }
                        });

                        return false;

                    }


    $(document).ready(function () {
        $('#userList').DataTable({

            responsive: true,

            "lengthMenu": [50, 100, 500, 1000, 2000, 5000, 10000, 50000, 100000],
            "order": [],
            "sScrollX": "100%",
            "scrollCollapse": true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'print',

                    customize: function (win) {
                        $(win.document.body)
                            .css({ 'font-size': '10pt' })
                            .prepend(
                                '<img style= src="~/Images/activefinancelogo.png"  style="position:absolute; height:500px; z-index:5000; width:500px; top:0; left:0;" />'
                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }, 'excelHtml5', {
                    extend: 'pdf',
                    download: 'open',
                }
            ]

        });
    });

</script>

<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>

