@model IEnumerable<Billing>
@using DLA_Thesis.Data.Model.Interface
@inject IStudentRepository StudentRepository
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="studentRegistration" enctype="multipart/form-data">
                <div class="modal-header">

                    <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div id="invoice_form" class="modal-body">

                    <div class="row">
                        <div class="col-md-6"><img style="margin:5%;" src="~/logo.jpg"/></div>
                        <div class="pull-right text-right col-md-6">
                            <h4 style="padding:3px; border-radius:10px; background-color:rgb(81, 203, 206); color:white; ">INVOICE NUMBER : 20003</h4>
                            <p>09992009 Adress St.</p>
                            <p>Glory!!</p>
                        </div>
                      
                        <div class="col-md-12">    <h3>Divine Light Academy </h3> </div>
                        <div class="col-md-6"></div>
                     
                       
                    </div>
                  
                

                    <div class="row">

                        <div class="col-md-12">        <hr />    <span>Full Name</span> : <b id="student_name"> </b> </div>
                        <div class="col-md-12">       <span>Grade </span> : <b id="gradesec"></b></div>
                        <div class="col-md-12">       <span>Address</span> : <b id="address"></b> </div>
                        <div class="col-md-12">       <span>Invoice Date</span> : <b id="invoiceDate"></b> </div>
                        <div class="col-md-12">       <span>Payment Plan</span> : <b id="mode">Cash</b> </div>
                        <br />

                    </div>
                    <hr />

                    <div class="row">
                        <div class="container">
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Price</th>
                                </tr>

                                <tr>
                                    <td id="payname">Tuition Fee</td>
                                    <td></td>
                                    <td id="price">200.00 PHP</td>
                                </tr>

                                <tr>
                                    <td class="text-right" colspan="2">Total</td>
                                    <td id="total" style=" background-color:rgb(81, 203, 206);">2000</td>
                                </tr>

                            </table>
                        </div>
                    </div>


                    <button class="btn btn-primary" onclick="return Print();">Print</button>

                </div>
              

            </form>

        </div>
    </div>
</div>
<script src="~/assets/js/printThis.js"></script>

<script>
    function Print() 
{

        $('#invoice_form').printThis();
        return false;
}

   
</script>
<div style="width: 100%; " class="content">
    <div class="row">
        <div class="col-md-12">
            <div style="padding:2%;" class="card">
                <table class="table table-striped table-bordered" style=" width:100%;" id="userList">
                    <thead>
                        <tr>
                            <th style="color:#51cbce;">Student</th>
                            <th style="color:#51cbce;">Payment</th>
                            <th style="color:#51cbce;">Status</th>
                            <th style="color:#51cbce;">Billed Date</th>
                            <th>Invoice</th>
                            <th style="color:#51cbce;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var m in Model)
                            {
                              
                                    if (DateTime.Now.AddDays(15) >= m.BilledDate)
                                    {


                                        <tr>
                                            <td>@StudentRepository.FindStudent(a => a.LRN == m.LRN).FirstName @StudentRepository.FindStudent(a => a.LRN == m.LRN).MiddleName @StudentRepository.FindStudent(a => a.LRN == m.LRN).LastName</td>
                                            <td>@m.Payment</td>
                                            <td>@m.Status</td>
                                            <td>@m.BilledDate</td>
                                            <td>
                                                <button onclick="GetInvoiceDetails(@m.BillingID)" class="btn btn-neutral" data-toggle="modal" data-target="#myModal">
                                                    Show Invoice
                                                </button>

                                            </td>
                                            <td>

                                                @{
                                                    if (m.Status != "Paid")
                                                    {
                                                        <a asp-action="Paid" asp-controller="Billing" asp-route-id="@m.BillingID" onclick="return confirm('Are you sure you want to mark this as paid ?')" class="btn btn-primary"> Paid </a>

                                                    }
                                                }

                                            </td>


                                        </tr>
                                    }
                                
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    function GetInvoiceDetails(id) {

        $.ajax({

            url: '/Billing/GetInvoice',
            type: 'GET',
            data: { id: id },
            success: function (e) {

                $('#student_name').text(e.student.firstName + " " + e.student.middleName + " " + e.student.lastName );
                 $('#gradesec').text(e.student.currentGrade );
                $('#address').text(e.student.address);
                   $('#invoiceDate').text(e.billing.billedDate.substr(0,10) );
                  $('#mode').text(e.student.modeOfPayment );

                 $('#payname').text(e.fee.paymentName);
                $('#price').text(e.fee.paymentPrice);
                 $('#total').text(e.fee.paymentPrice);

            }

        });

    }
</script>


<script>

    $('#billing').addClass('active');

    document.getElementById('studentRegistration').onsubmit = function () {



        var student = new FormData();

        var gender = "";
        if ($('#genderMale').is(':checked')) {
            gender = "male";
        } else {
            gender = "female";
        }

        var fileInput = document.getElementById('image');
        for (i = 0; i < fileInput.files.length; i++) {
            student.append("Image", fileInput.files[i]);
        }

        var lrn = $('#lrn').val();
        var fname = $('#fname').val();
        var mname = $('#mname').val();
        var password = $('#password').val();




        student.append("LRN", lrn);
        student.append("FirstName", fname);
        student.append("Password", password);
        student.append("ConfirmPassword", rpassword);



        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/User/CreateStudent');
        xhr.send(student);

        xhr.onreadystatechange = function () {


            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "LRN_exist") {
                    alert("LRN Already exist");
                    return false;
                }

                if (xhr.responseText == "") {
                    alert("student added");
                    window.open("../../User/Index", "_self");
                }
            }
        }

        return false;

    }

</script>


<script>
    $(document).ready(function () {
        $('#userList').DataTable({

            responsive: true,

            "lengthMenu": [50, 100, 500, 1000, 2000, 5000, 10000, 50000, 100000],
            "order": [],
            "sScrollX": "100%",
            "scrollCollapse": true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'print',

                    customize: function (win) {
                        $(win.document.body)
                            .css({ 'font-size': '10pt' })
                            .prepend(
                                '<img style= src="~/Images/activefinancelogo.png"  style="position:absolute; height:500px; z-index:5000; width:500px; top:0; left:0;" />'
                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }, 'excelHtml5', {
                    extend: 'pdf',
                    download: 'open',
                }
            ]

        });
    });

</script>

<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>



